---
import '@/styles/global.css';
import '@/styles/site-styles.scss';

import { siteConfig } from '@/config/site';

interface Props {
  pageTitle: string;
  pageDescription: string;
  redirectUrl: string;
}

const { pageTitle, pageDescription, redirectUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{`${pageTitle} | ${siteConfig.title}`}</title>
    <meta name="description" content={pageDescription} />
    <meta content={`0; url=${redirectUrl}`} http-equiv="refresh" />
    <link rel="canonical" href={redirectUrl} />
    <script is:inline data-redirect-url={redirectUrl}>
      const currentScriptElement = document.currentScript;
      const redirectTarget = currentScriptElement?.dataset.redirectUrl;
      if (window.location && redirectTarget) {
        window.location.replace(redirectTarget);
      }
    </script>
  </head>
  <body class="external-redirect-page-layout">
    <main class="external-redirect-content-block">
      <slot />
    </main>
  </body>
</html>
